<ion-modal-view>
   <ion-header-bar>
      <h1 class="title">Search Movie</h1>
   </ion-header-bar>
   <ion-content ng-controller="MoviesCtrl">
      <div class="centered">
        <i class="ion-ios-monitor big-icon grey"> </i>
      </div>

      <div class="list">
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Enter movie name" id="movie-title">
            </label>
            <button class="button button-small" ng-click="search()">
              Submit
            </button>
        </div>
      </div>


      <!-- newly added -->
      <ion-spinner icon="rippal" ng-if="showloader == 'yes'"></ion-spinner>

          <div class="list card" ng-if="searchmovie == 'yes'">
            <button class="row item" ng-repeat="result in results" ng-click="createMovieTask(result)">
              <div class="col col-50">
                <img class="" src="{{ result.Poster }}" style="width: 50%;">
              </div>
              <div class="col col-50" style="text-align: left">
                <h2> {{result.Title}} </h2>
                <h3> ({{result.Year}}) </h3>
              </div>
            </button>
          </div>
   </ion-content>
</ion-modal-view>
