<ion-view view-title="Task Planner">
  <ion-nav-buttons side="left" ng-hide="buttonHidden">


    <button class="btn-invisible" menu-toggle="left">
      <i class='ion-ios-plus small-icon grey'> </i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <div class = "row">

        <div class = "col col-50" ng-controller="TodayCtrl">
          <button class="btn-invisible" ng-click="gotoToday()">
            <h4> For today </h4>
            <i class="ion-ios-clock "></i>
            <p> {{todayItemCount}} tasks </p>
          </button>
        </div>

         <div class = "col" ng-controller="WorkCtrl">
           <button class="btn-invisible" ng-click="gotoWork()">
             <h4> Work </h4>
             <i class="ion-ios-folder"></i>
             <p> {{workItemCount}} tasks </p>
           </button>
         </div>
      </div>

      <div class = "row">
        <div class = "col" ng-controller="EventsCtrl">
          <button class="btn-invisible" ng-click="gotoEvents()">
            <h4> Events </h4>
            <i class="ion-ios-calendar"></i>
            <p> {{eventItemCount}}  events </p>
          </button>
        </div>
        <div class = "col" ng-controller="GroceriesCtrl">
          <button class="btn-invisible" ng-click="gotoGroceries()">
            <h4> Groceries </h4>
            <i class="ion-ios-cart"></i>
            <p> {{groceriesItemCount}} items </p>
          </button>
        </div>
      </div>

      <div class = "row">
        <div class = "col" ng-controller="MoviesCtrl">
          <button class="btn-invisible" ng-click="gotoMovies()">
            <h4>Entertainment </h4>
            <i class="ion-ios-monitor"></i>
            <p> {{movieItemCount}}  items </p>
          </button>
        </div>
        <div class = "col col-50" ng-controller="OtherCtrl">
          <button class="btn-invisible" ng-click="gotoOther()">
            <h4> Other </h4>
            <i class="ion-shuffle"></i>
            <p> {{otherItemCount}} items </p>
          </button>
        </div>



      </div>
    </ion-list>
  </ion-content>
</ion-view>
