/* Empty. Add your own CSS if you like */

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ion-content {
  background-color: white;
}

.col {
  text-align: center;
}

.col i {
  font-size: 75px;
  color: grey;
}

.big-icon {
  font-size: 150px;
}

.grey {
  color: grey;
}

.white {
  color: white;
}

.centered {
  text-align: center;
}

.align-left {
  text-align: left;
}
.btn-invisible {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin: 0;
  padding: 0;
}

.btn-grey {
  background-color: #ECECEC;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 185px;
}

.back-button {
  color: white!important;
}

.small-icon {
  font-size: 30px;
}

.movie-info {
  text-align: left;
}

.bar-header {
  color: #727272!important;
  background-color: #7CC3CC!important;
}

.title {
  color: white!important;
}

.main-icon{
  color: #80C9D2!important;
}

.header-icon {
  color: #EDEDED;
}

.deep-blue {
  /*  color: #80C9D2;*/
  color: #80C9D2;
}

.scroll-content {
  background-color: white;
}

.btn-grey p {
  color: #5F5F5F;
}

.ion-navicon {
  color: white!important;
}
